/* Login.css */
.landing-page {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }
    

    .boxed{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid black;
    }
    
  .Loginn{
    color:black;
   text-align: center;
   padding-bottom: 1rem;
   
  }
  .login-form {
    height: 400px;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid aliceblue;
    border-radius: 5px;
    background-color: white ;
    opacity: .8;
    margin-top: 30px;
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    width: 100%;
  }
  
  .register-now {
    margin-top: 10px;
    display: block;
    text-align: center;
  }
  